{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}

	<div id="header" class="text-center">
	<a href="{% url 'timeline:list' %}"><img src="{% static 'img/logo500x345.png' %}" class="img-responsive logo"/></a>

	<div class="space"></div> <!-- 40px Vertical Spacing -->

	<p>Share your photographs.</p>   
	</div>

	<div class="space"></div> <!-- 40px Vertical Spacing -->

	<div class="container">
		<div class="col-md-6 col-md-offset-3 text-center">
		  <div class="row">
			<h1>{% trans "Account Inactive" %}</h1>
			<p>{% trans "This account is inactive." %}</p>
			</div>
		</div>
	</div>

{% endblock %}
