{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

	<div id="header" class="text-center">
	<a href="{% url 'timeline:list' %}"><img src="{% static 'img/logo500x345.png' %}" class="img-responsive logo"/></a>

	<div class="space"></div> <!-- 40px Vertical Spacing -->

	<p>Share your photographs.</p>   
	</div>

	<div class="space"></div> <!-- 40px Vertical Spacing -->

	<div class="container">
		<div class="col-md-6 col-md-offset-3">
		  <div class="row">
			<h1>{% trans "Sign Up" %}</h1>

			<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>


          	<div class="space"></div> <!-- 40px Vertical Spacing -->

          	<div class="text-center">
                {% load socialaccount %}
                {% providers_media_js %}
                  <a href="{% provider_login_url "facebook" method="js_sdk" %}" class="btn btn-social btn-facebook">
                    <span class="fa fa-facebook"></span> Sign up with Facebook
                  </a>
                  <br/>
                  <a href="{% provider_login_url "twitter" method="js_sdk" %}" class="btn btn-social btn-twitter disabled">
                    <span class="fa fa-twitter"></span> Sign up with Twitter
                  </a>

                <div class="login-or text-center">{% trans 'or' %}</div>
            </div>

			<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
			  {% csrf_token %}
			  {{ form | crispy }}
			  {% if redirect_field_value %}
			  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			  {% endif %}
			  <button type="submit" class="btn btn-block btn-lg btn-dark">{% trans "Sign Up" %} &raquo;</button>
			</form>		    
		  </div>
		</div>
	</div>
<div class="space"></div> <!-- 40px Vertical Spacing -->
{% endblock %}
