/* Font imports */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800);
body {
    font-family: 'Raleway', Arial, sans-serif;
    color: #666;
    background-color: #fff;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    position: relative;
    top: 0;
    height: 100%;
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
    padding: 0;
    margin: 0;
}
h1 {
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
}
h2 {
    font-size: 36px;
    font-weight: normal;
    text-transform: uppercase;
}
h3 {
    font-size: 28px;
    font-weight: 600;
}
h4 {
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
}
h5 {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}
h6 {
    font-size: 12px;
    line-height: 18px;
}
a {
    color: #666;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #ea6060;
    text-decoration: none;
}
.right {
    float: right;
    clear: right;
}
.left {
    float: left;
    clear: left;
}
.center {
    text-align: center;
    vertical-align: middle;
}
.space { padding-top: 40px }
.padding-right { padding-left: 10px }
.bold { font-weight: 700 }
.light { font-weight: lighter }
#header {
    background-color: #ffffff;
    color: #82368C;
    padding: 20px;
}
.title {
    padding-top: 40px;
    padding-bottom: 40px;
}

#team,
#timeline,
#testimonial,
#pricing,
#promo,
#button {
    color: #424242;
    height: auto;
    text-align: center;
}

/***************************
******** Navbar ********
***************************/

.navbar-header {
    float: none;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-nav {
    float: none!important;
    margin: 0;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-collapse.collapse.in {display: block !important; }

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0 !important;
    border: 1px solid transparent;
}

.navbar-right {
    float: right !important;
    margin-right: 0 !important;
}

.navbar-default {
    background-color: #EEEEEE;
    border-color: #E7E7E7;
}

.logo {
    display: inline !important;
    width: 10%;
    height: 10%;
    max-width: 10%;
    min-width: 100px;
}

/***************************
******** Timeline ********
***************************/

.timeline {
    text-align: center;
    padding: 20px 0px;
}

.timeline img {
    border-top: 1px solid #82368C;
    border-bottom: 1px solid #82368C;
    min-width: 100%;
    min-height: 100%;
}

#timeline hr {
    padding: 0px;
    margin: 0px 0px 40px 0px;
}

.details {
    padding: 0;
    margin: 0;
}

.favourite {
    padding: 0;
    margin: 0;    
}

.pagination li > span, a{
    color: #82368C !important;
    font-family: 'Raleway', Arial, sans-serif;
}


/***************************
******** Photo Detail ********
***************************/

.photoDetail {
    text-align: center;
    padding: 20px 0px;
}

.photoDetail img {
    border-top: 1px solid #82368C;
    border-bottom: 1px solid #82368C;
    min-width: 100%;
    min-height: 100%;
}

#photoDetail hr {
    padding: 0px;
    margin: 40px 0px 40px 0px;
}

.description {
    border: 1px solid #82368C;
    padding: 20px;
    margin: 40px 0;
}


/***************************
******** Buttons ********
***************************/

.btn { margin-bottom: 20px }
.btn-noblock { width: 160px }
.searchBtn {
    margin: 0 !important;
}
.btn-dark {
    color: #fff !important;
    background-color: #494949;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 2px;
}
.btn-dark:hover {
    color: #fff !important;
    background-color: #5F5F5F;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-font-smoothing: antialiased;
}
.btn-purple {
    color: #fff !important;
    background-color: #82368C;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 2px;
}
.btn-purple:hover {
    color: #fff !important;
    background-color: #82368C;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-font-smoothing: antialiased;
}
.btn-gray {
    color: #fff !important;
    background-color: #bfc2c5;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 2px;
}
.btn-gray:hover {
    color: #fff !important;
    background-color: #B8B8B8;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-font-smoothing: antialiased;
}
.btn-red {
    color: #fff !important;
    background-color: #ea6060;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 2px;
}
.btn-red:hover {
    color: #fff !important;
    background-color: #DF4E4E;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-font-smoothing: antialiased;
}
.icon {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
.btn-darka {
    color: #494949 !important;
    border: 1px solid #494949;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 2px;
}
.btn-darka:hover {
    color: #494949 !important;
    border: 1px solid #5F5F5F;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-font-smoothing: antialiased;
}
.btn-purplea {
    color: #494949 !important;
    border: 1px solid #82368C;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 2px;
}
.btn-purplea:hover {
    color: #494949 !important;
    border: 1px solid #82368C;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-font-smoothing: antialiased;
}
.btn-graya {
    color: #bfc2c5 !important;
    border: 1px solid #bfc2c5;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 2px;
}
.btn-graya:hover {
    color: #bfc2c5 !important;
    border: 1px solid #B8B8B8;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-font-smoothing: antialiased;
}
.btn-reda {
    color: #ea6060 !important;
    border: 1px solid #ea6060;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 2px;
}
.btn-reda:hover {
    color: #ea6060 !important;
    border: 1px solid #DF4E4E;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-font-smoothing: antialiased;
}

/***************************
******** Form fields ********
***************************/

input[type="file"] {
    width: 100%;
    display: block;
    color: #494949 !important;
    border: 1px solid #82368C;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 2px;
    padding: 10px 16px;
    line-height: 1.33;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    margin-top: 10px;
}

#div_id_image > .controls {
    margin-top: 10px;
}


/***************************
******** Footer ********
***************************/

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -200px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 225px;
      }
      #footer {
            background-color: #EEE;
            color: #82368C;
            padding: 40px;
            text-align: center;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }


/* Responsive Media Query */
@media only screen and (min-width: 1200px) { 
    .container { width: 960px }
}