{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

  <div id="header" class="text-center">
      <a href="{% url 'timeline:list' %}"><img src="{% static 'img/logo500x345.png' %}" class="img-responsive logo"/></a>

      <div class="space"></div> <!-- 40px Vertical Spacing -->

      <p>Share your photographs.</p>

      <div class="space"></div> <!-- 40px Vertical Spacing -->

      {% if user.is_superuser or user.is_authenticated %}  
      <a href="{% url 'timeline:create' %}" class="btn btn-purple"><i class="fa fa-upload"></i> Upload</a>
      {% else %}
      <a href="{% url 'account_login' %}" class="btn btn-purple"><i class="fa fa-sign-in"></i> Login</a>
      <p>or</p>
      <a href="{% url 'account_signup' %}" class="btn btn-purple"><i class="fa fa-pencil-square-o"></i> Signup</a>
      {% endif %}

      <div class="space"></div> <!-- 40px Vertical Spacing -->
      
      <form method="GET" action="" class="form-inline">
        <div class="form-group">
          <input type="text" placeholder="&#xF002;" style="font-family:Arial, FontAwesome" name="q" class="form-control input-lg" value="{{ request.GET.q }}"><br/>
          <a href="{% url 'timeline:list' %}">Clear search results</a>
          <!-- <button type="submit" class="btn btn-purple searchBtn"><i class="fa fa-search"></i></button> -->
        </div>      
      </form>
  </div>

  <!-- Timeline -->
  <section id="timeline">

  {% for obj in object_list %}
  <div class="space"></div> <!-- 40px Vertical Spacing -->
  <div class="container"> <!-- Container Fluid-->

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h3>{{ obj.title }}</h3>
        <h5>{{ obj.timestamp }}</h5>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <div class="timeline">
            {% if obj.image %}
             <img src='{{ obj.image.url }}' class='img-responsive' />
            {% endif %}
        </div>
      </div>
    </div>
  </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="fb-like pull-left" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true" style="margin-bottom: 20px;"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <a class="btn btn-block btn-lg btn-purplea" style="cursor: default; text-transform: none;"><small>Posted {{ obj.timestamp | timesince }} ago</small></a>
        </div>
        <div class="col-md-6">
          {% if obj.user.get_full_name %}
          <a class="btn btn-block btn-lg btn-purplea" style="cursor: default; text-transform: none;">Photographer: {{ obj.user.get_full_name }}</a>
          {% else %}
          <a class="btn btn-block btn-lg btn-purplea" style="cursor: default; text-transform: none;">Photographer: {{ obj.user }}</a>
          {% endif %}
        </div>
        <div class="col-md-2">
          <a href="{{ obj.get_absolute_url }}" class="btn btn-block btn-lg btn-dark" role="button">View <i class="fa fa-angle-double-right"></i></a>
        </div>
      </div>
    </div>
          <!-- <a class="btn btn-block btn-lg btn-purplea" style="cursor: default; text-transform: none;">
            {{ obj.content|truncatechars:50 }}
          </a> -->
    <div class="space"></div> <!-- 40px Vertical Spacing -->
  {% endfor %}
  </div>

  </section>

  <div class="space"></div> <!-- 40px Vertical Spacing -->

  <div class="container">
    <div class="col-md-12 text-center">
      <ul class="pagination pagination-lg">
        <li>{% if object_list.has_previous %}
          <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo;</a>
          {% endif %}
        </li>
        <li>
          <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
          </span>
        </li>
        <li>
          <a href="#">2</a>
        </li>
        <li>{% if object_list.has_next %}
          <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&raquo;</a>
            {% endif %}
        </li>
      </ul>
    </div>
  </div>

{% endblock content %}