{% extends "base.html" %}
{% load urlify %}
{% load staticfiles %}

{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}



{% block content %}

  <div id="header" class="text-center">
      <a href="{% url 'timeline:list' %}"><img src="{% static 'img/logo500x345.png' %}" class="img-responsive logo"/></a>
      <h3>PhotoZero</h3>

      <div class="space"></div> <!-- 40px Vertical Spacing -->

      <p>Share your photographs.</p>
      <a href="{% url 'timeline:create' %}" class="btn btn-purple"><i class="fa fa-upload"></i> Upload</a>      
  </div>

  <div class="space"></div> <!-- 40px Vertical Spacing -->

  <!-- Photo Detail -->
 	<section id="photoDetail">

	<div class="container">
		<div class="row">
			<div class="photoDetail">
			{% if instance.image %}
	    		<img src='{{ instance.image.url }}' class='img-responsive' />
	    	{% endif %}
    		</div>
    	</div>
	</div>

	<div class="container"> <!-- Container -->
	 	<div class="row">
			<div class="col-md-8">
				<p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
				</p>
			</div>
			<div class="col-md-4">
						
				{% if instance.user.get_full_name %}
				<a class="btn btn-block btn-lg btn-purplea" style="cursor: default; text-transform: none;">
				Author: {{ instance.user.get_full_name }}
				</a>
				{% else %}
				<a class="btn btn-block btn-lg btn-purplea" style="cursor: default; text-transform: none;">
				Author: {{ instance.user }}
				</a>
				{% endif %}

			</div>
		</div>
	
		<div class="row">
			<div class="col-sm-12">
				<h1>{{ title }} <small>{{ instance.timestamp }}  ({{ instance.timestamp | timesince }} Ago)</small><h1>
			</div>
		</div>	
		
		<div class='row'>
			<div class='col-sm-12'>

				<div class="description">
					<h4>Description</h4>
					{{ instance.description|linebreaks }}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<a href="{% url 'timeline:list' %}" class="btn btn-block btn-lg btn-dark" role="button"><i class="fa fa-angle-double-left"></i>
 Back</a>
			</div>
			<div class="col-sm-4">
				<a href="{{ instance.image.url }}" class="btn btn-block btn-lg btn-purple" role="button"><i class="fa fa-download"></i> Download</a>
			</div>
			{% if user.is_superuser or request.user == instance.user %}  
			<div class="col-sm-4">
				<a href="{% url 'timeline:update' slug=instance.slug %}" class="btn btn-block btn-lg btn-purple" role="button"><i class="fa fa-pencil-square-o"></i> Edit</a>
			</div> 
			<div class="col-sm-2">	  
				<a href="{% url 'timeline:delete' slug=instance.slug %}" class="btn btn-block btn-lg btn-red" role="button"><i class="fa fa-times-circle"></i> Delete</a>
			</div>
			{% else %}
			<div class="col-sm-4">
			</div> 
			<div class="col-sm-2">	  
			</div>			
			{% endif %}

		</div>

		<div class="row">
			<div class="col-sm-12">
				<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5" data-width="100%"></div>
			</div>
		</div>

	</div>

  </section>


{% endblock content %}
