{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
<h1>Form</h1>

	<script>
	document.getElementById('file-input').onchange = function (e) {
    loadImage(
        e.target.files[0],
        function (img) {
            document.body.appendChild(img);
        },
        {maxWidth: 600} // Options
    	);
	};
	</script>

<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
{{ form | crispy }}
<br/>
<input type='submit' class='btn btn-block btn-lg btn-dark' value='Create' />
</form>
</div>
{% endblock content %}