{% extends "base.html" %}
{% load urlify %}
{% load staticfiles %}

{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}



{% block content %}

  <div id="header" class="text-center">
      <a href="{% url 'timeline:list' %}"><img src="{% static 'img/logo500x345.png' %}" class="img-responsive logo"/></a>

      <div class="space"></div> <!-- 40px Vertical Spacing -->

      <p>Share your photographs.</p>

      <div class="space"></div> <!-- 40px Vertical Spacing -->
      
      <a href="{% url 'timeline:create' %}" class="btn btn-purple"><i class="fa fa-upload"></i> Upload</a>      
  </div>

  <div class="space"></div> <!-- 40px Vertical Spacing -->

  <!-- Photo Detail -->
 	<section id="photoDetail">

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="photoDetail">
				{% if instance.image %}
		    		<img src='{{ instance.image.url }}' class='img-responsive' />
		    	{% endif %}
	    		</div>
    		</div>
    	</div>
	</div>

	<div class="container"> <!-- Container -->
	 	<div class="row">
			<div class="col-md-8">

				<!-- Comments section -->
					<a class="btn btn-lg btn-graya btn--comment" href="#comments" data-toggle="tooltip" data-placement="bottom" title="Comments" data-original-title="Comments">
					    <span><i class="fa fa-comment" style="color: #FF9B37;"></i></span>
					</a>

				<!-- Facebook -->
				<a class="btn btn-lg btn-darka btn--facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" onclick="window.open(this.href,'facebook-share-dialog','width=626,height=436');return false;" data-toggle="tooltip" data-placement="bottom" title="Facebook" data-original-title="Facebook">
				    <span><i class="fa fa-facebook-square" style="color: #004088;"></i></span>
				</a>

				<!-- Twitter -->
				<a class="btn btn-lg btn-darka btn--twitter" target="_blank" href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}" onclick="window.open(this.href,'twitter-share-dialog','width=626,height=436');return false;" data-toggle="tooltip" data-placement="bottom" title="Twitter" data-original-title="Twitter">
				   <span><i class="fa fa-twitter-square" style="color: #49A8DE;"></i></span>
				</a>

				<!-- WhatsApp -->
				<a class="btn btn-lg btn-darka btn--whatsapp hidden-md-plus" href="whatsapp://send?text={{ title }}%20{{ request.build_absolute_uri }}" target="_blank" data-text="{{ title }} " data-href="{{ request.build_absolute_uri }}" data-toggle="tooltip" data-placement="bottom" title="WhatsApp" data-original-title="WhatsApp"><span><i class="fa fa-whatsapp" style="color: #43D854;"></i></span></a>

<!--     <a class="btn btn--wp hidden-md-plus" href="whatsapp://send?text=An%20Expert%20On%20Food%20Poisoning%20Has%20Revealed%20The%20Types%20Of%20Food%20He%20Will%20Never%20Eat%20-%20http%3A%2F%2Fwww.theladbible.com%2Farticles%2Fan-expert-on-food-poisoning-has-revealed-the-types-of-food-he-will-never-eat-270116" target="_blank" data-text="An&#x20;Expert&#x20;On&#x20;Food&#x20;Poisoning&#x20;Has&#x20;Revealed&#x20;The&#x20;Types&#x20;Of&#x20;Food&#x20;He&#x20;Will&#x20;Never&#x20;Eat" data-href="http://www.theladbible.com/articles/an-expert-on-food-poisoning-has-revealed-the-types-of-food-he-will-never-eat-270116"> -->

			</div>
			<div class="col-md-4">
						
				{% if instance.user.get_full_name %}
				<a class="btn btn-block btn-lg btn-purplea" style="cursor: default; text-transform: none;">
				Author: {{ instance.user.get_full_name }}
				</a>
				{% else %}
				<a class="btn btn-block btn-lg btn-purplea" style="cursor: default; text-transform: none;">
				Author: {{ instance.user }}
				</a>
				{% endif %}

			</div>
		</div>
	
		<div class="row">
			<div class="col-sm-12">
				<h1>{{ title }} <small>{{ instance.timestamp }}  ({{ instance.timestamp | timesince }} Ago)</small><h1>
			</div>
		</div>	
		
		<div class='row'>
			<div class='col-sm-12'>

				<div class="description">
					<h4>Description</h4>
					{{ instance.description|linebreaks }}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2">
				<a href="{% url 'timeline:list' %}" class="btn btn-block btn-lg btn-dark" role="button"><i class="fa fa-angle-double-left"></i>
 Back</a>
			</div>
			<div class="col-sm-4">
				<a href="{{ instance.image.url }}" class="btn btn-block btn-lg btn-purple" role="button"><i class="fa fa-download"></i> Download</a>
			</div>
			{% if user.is_superuser or request.user == instance.user %}  
			<div class="col-sm-4">
				<a href="{% url 'timeline:update' slug=instance.slug %}" class="btn btn-block btn-lg btn-purple" role="button"><i class="fa fa-pencil-square-o"></i> Edit</a>
			</div> 
			<div class="col-sm-2">	  
				<a href="{% url 'timeline:delete' slug=instance.slug %}" class="btn btn-block btn-lg btn-red" role="button"><i class="fa fa-times-circle"></i> Delete</a>
			</div>
			{% else %}
			<div class="col-sm-4">
			</div> 
			<div class="col-sm-2">	  
			</div>			
			{% endif %}

		</div>

		<div class="row">
			<div class="col-sm-12">
				<div id="comments" class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5" data-width="100%"></div>
			</div>
		</div>

	</div>

  </section>


{% endblock content %}
