<!-- WhatsApp -->
<a class="btn btn-block btn-lg btn-purplea" href="whatsapp://send?text={{ share_string }}%20{{ request.build_absolute_uri }}" target="_blank" data-text="" data-href=""><span>Share</span></a>

<!-- Facebook -->
<a class="btn btn-block btn-lg btn-purplea" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" onclick="window.open(this.href,'facebook-share-dialog','width=626,height=436');return false;">
    <span>Share</span>
</a>

<!-- Twitter -->
<a class="btn btn-block btn-lg btn-purplea" target="_blank" href="https://twitter.com/share?text={{ share_string }}url={{ request.build_absolute_uri }}" onclick="window.open(this.href,'twitter-share-dialog','width=626,height=436');return false;">
   <span>Tweet</span>
</a>

<!-- Instrgram -->


<!-- Comments section -->
<a class="btn btn-block btn-lg btn-purplea" href="#comments">
    <span>Comment</span>
</a>







.btn--comment {
    box-shadow: 0px 0px 0px 0px #FF9B37 inset !important;
    border-bottom: 5px solid #FF9B37 !important;
    color: #FF9B37 !important;
    text-decoration: none;
}

.btn--facebook {
	box-shadow: 0px 0px 0px 0px #004088 inset !important;
	border-bottom: 5px solid #004088 !important;
	color: #004088 !important;
	text-decoration: none;
}

.btn--twitter {
    box-shadow: 0px 0px 0px 0px #49A8DE inset !important;
	border-bottom: 5px solid #49A8DE !important;
	color: #49A8DE !important;
	text-decoration: none;
}

.btn--whatsapp {
	box-shadow: 0px 0px 0px 0px #43D854 inset !important;
	border-bottom: 5px solid #43D854 !important;
	color: #43D854 !important;
	text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .hidden-md-plus {
    display: none; } 
}